<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-wkwebview-engine-allowfileaccess" version="0.0.1" >

  <name>WKWebviewEngineAllowFileAccessPlugin</name>
  <description>WKWebView Engine AllowFileAccess Plugin</description>
  <author>Ken Naito</author>
  <license>MIT</license>
  <engines>
    <engine name="cordova" version=">=6.5.0" />
  </engines>

  <dependency id="cordova-plugin-wkwebview-engine" />

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CDVWKWebViewEngineAllowFileAccess">
          <param name="ios-package" value="CDVWKWebViewEngineAllowFileAccess"/>
          <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/CDVWKWebViewEngineAllowFileAccess.h" />
    <source-file src="src/ios/CDVWKWebViewEngineAllowFileAccess.m" />

  </platform>
</plugin>